.root {
  margin: 14px 0px;
}

.reward-title {
  width: 64px;
  text-align: center;
  border-bottom: solid 1px;
  font-size: x-large;
  font-weight: bold;
}

.reward-raw {
  text-align: center;
}

.reward {
  display: inline-block;
  font-size: x-large;
  font-weight: bold;
}
