.root {
  margin: 14px 0px;
}

.title {
  width: 200px;
  text-align: center;
  border-bottom: solid 1px;
  font-size: x-large;
  font-weight: bold;
}

.task-list {
  margin-left: 40px;
}

.task {
  font-size: x-large;
  font-weight: bold;
}
